//-------------------- Introduction --------------------//

//- HTML title & meta
-
  head = {
    title: "Damien Maya | Creative Back-End Developer",
    description: "Damien Maya creative back-end developer",
    keywords: "resume, creative developer, back-end developer",
    author: "Damien Maya"
  }

//- Header
    Set header image in introduction.sass
-
  name = {
    first: "Damien",
    last: "Maya"
  }

//- Basic contact and online presence
    ONLY change the phone numbers, maintain "tel:" in the href
    ONLY change the email addresses, maintain "mailto:" in the href
-
  basics = {
    Call: {
      display: "281-620-5249",
      href: "tel:281-620-5249"
    },
    Mail: {
      display: "damien_maya@yahoo.com",
      href: "mailto:damien_maya@yahoo.com"
    },
    Web: {
      display: "damienmaya.com",
      href: "http://damienmaya.com"
    }
  }


//- Objective / Executive Summary / About
- blurb = "<span>Hello</span> With my back-end development skill-set I'd like to write faster, reusable code for the world."

//- Online elsewhere
-
  socials = {
    GitHub: {
      display: "MamboMaya",
      url: "https://github.com/MamboMaya"
    },
    LinkedIn: {
      display: "DamienMaya",
      url: "https://www.linkedin.com/in/damien-maya-9aa5b83b"
    }
  }

//-------------------- Primary --------------------//

//- Experience section
    If no url exists: remove the "url" option entirely
-
  experience = {
    heading: "Experience",
    content: {
      "C-EM Consulting": {
        date: "Jul 2015 - Sep 2016",
        role: "Executive Recruiter",
        description: "Identified matches between unique candidates and ideal clients",
        url: "http://c-em.com"
      },
      "Farmers Insurance": {
        date: "Aug 2010 - May 2011",
        role: "Agency Producer",
        description: "Introduced technical knowledge and online marketing tactics into the agent's workplace to efficiently reach more prospective clients and ultimately expand business production.",
        url: "https://agents.farmers.com/tx/houston/claudia-garza"
      },
      "Sales": {
        date: "Sep 2007 - Aug 2010",
        role: "Various Sales Roles",
        description: "Inside and outside end-to-end sales roles to both residential and commercial clients. Client aquisition and project management included.  ",
      }
    }
  }


//- Education section
-
  education = {
    heading: "Education",
    content: {
      "University of Phoenix - 2015": "Associates of Business"
    }
  }


//- Hobbies section
-
  hobbies = {
    heading: "Hobbies",
    list: "Rebuilding classic cars, tech meet-ups, fitness/physical therapy"
  }

//- Skills section
    Skill svgs must be added/removed directly from index.pug
-
  skills = {
    heading: "Skills",
    list: "C#, ASP.NET, Razor, JavaScript, React, HTML5, CSS3, Sass, npm, Git, GitHub"
  }
